.row {
  display: grid;
  position: relative;
}

.row-container {
  display: grid;
  position: relative;
  z-index: 101;
  grid-area: 1/1;
  place-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
